/* This file is for your main application css. */

@import '~bootstrap/dist/css/bootstrap-reboot.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';

label + input {
  margin-left: 0.5rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.alert {
  border: 1px solid darkgray;
  background-color: gainsboro;
  border-radius: 0.25rem;
  padding: 0.4rem 0.8rem;
}

.alert-danger {
  border-color: tomato;
  background-color: blanchedalmond;
  color: tomato;
  font-weight: 600;
}

.alert-info {
  border-color: deepskyblue;
  background-color: azure;
  color: deepskyblue;
  font-weight: 600;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: dodgerblue;
  border-color: dodgerblue;
}

.btn-primary:hover {
  color: #fff;
  background-color: royalblue;
  border-color: royalblue;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.gifter textarea {
  width: 100%;
  margin-bottom: 0.5rem;
}

.wishes,
.admin {
  margin-top: 1rem;
}

.checkbox-list {
  list-style: none;
  padding-left: 1rem;
}
