/* This file is for your main application css. */

@import './bootstrap.css';

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-danger {
  color: tomato;
}

.text-muted {
  color: #696969;
}

.wishes,
.admin {
  margin-top: 2rem;
}

.wishes .card-deck {
  margin-bottom: 1rem;
}

.wishes .card {
  max-width: 50%;
}

.wishes .card-title {
  padding-left: 0.5rem;
  font-size: 1.25rem;
}

.checkbox-list {
  list-style: none;
  padding-left: 1rem;
}

.wish-inputs {
  margin-left: 1rem;
}

.social-login {
  margin-bottom: 1rem;
}

.btn-facebook {
  color: white;
  background-color: #1977f3;
}

.btn-facebook:hover {
  color: white;
  background-color: #135cbb;
}

.icon-facebook {
  background-image: url('../img/f_logo_RGB-Blue_58.png');
  display: inline-block;
  background-size: contain;
}

.btn-facebook .icon-facebook {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}
