<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= gettext("christmas") %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/app.css") %>"/>
    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/favicon-16x16.png") %>">
    <link rel="manifest" href="<%= Routes.static_path(@conn, "/site.webmanifest") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/safari-pinned-tab.svg") %>" color="#4c67c4">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <meta name="favicon-author" content="Icon made by Freepik (https://www.freepik.com) from https://www.flaticon.com">
  </head>
  <body class="body-container">
    <header class="container-fluid page-header">
      <section class="text-center">
        <h1 class=""><%= "#{gettext("christmas")} #{SecretSanta.Helpers.datetime_now().year}" %></h1>
      </section>
    </header>
    <main role="main" class="main-content snowflakes">
      <div class="container">
        <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <% end %>
        <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <% end %>
        <%= @inner_content %>
      </div>
    </main>
    <footer class="container-fluid page-footer"></footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/app.js") %>"></script>
  </body>
</html>
